# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tower-defense1.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Phili\OneDrive\Desktop\Programing suit\Tower-defense1\.idea\.idea.Tower-defense1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
